<div>
    <mat-card style="max-width:750px;margin: auto;" >
      <div style="display: flow-root;
    margin-bottom: -37px;" *ngIf="!edit">
        <button class="create" mat-icon-button color="warn" (click)="changeEdit()" >
            <mat-icon class="mat-18">create</mat-icon>Editar
        </button>
      </div>
      <mat-card-content >
        <div class="page-wrap">
        	<div  class="centralizad">
        		<form style="width:100%">
              <div *ngIf="!edit" class="metade label"> Usuário: {{cliente.USUARIO}}</div>
        			<mat-form-field class="metade" *ngIf="edit">
        				<input  matInput placeholder="Usuario" name="usuario" [(ngModel)]="cliente.USUARIO" >
              </mat-form-field>
              <div  class="espaco"></div>
              <div *ngIf="!edit" class="metade label"> Senha:  {{cliente.SENHA}}</div>
        			<mat-form-field class="metade" *ngIf="edit">
                <div *ngIf="!edit" class="metade"> Senha: </div>
        				<input matInput placeholder="Password" name="senha" [(ngModel)]="cliente.SENHA"  >
        			</mat-form-field>
              <div *ngIf="!edit" class="cheio label"> Nome: {{cliente.NOME}} </div>
              <mat-form-field class="cheio" *ngIf="edit">
                <input matInput placeholder="Nome" id="nome" name="nome" [(ngModel)]="cliente.NOME"  >
              </mat-form-field>
              <div *ngIf="!edit" class="cheio label">CPF/CNPJ: {{cliente.CPF}}</div>
              <mat-form-field class="cheio" *ngIf="edit">
                <input matInput id="cpf" placeholder=" CPF/CNPJ" name="cpf"  [(ngModel)]="cliente.CPF">
              </mat-form-field>
              <div *ngIf="!edit" class="terco label" >CEP:  {{cliente.CEP}} </div>
              <mat-form-field class="terco" *ngIf="edit">
                <input matInput placeholder="Cep" name="cep"  [(ngModel)]="cliente.CEP">
              </mat-form-field>
              <div  class="espaco"></div>
              <div *ngIf="!edit" class="tercoDobro label">Endereço:  {{cliente.ENDERECO}}</div>
              <mat-form-field class="tercoDobro" *ngIf="edit">
                <input matInput placeholder="Endereço" name="endereco"  [(ngModel)]="cliente.ENDERECO">
              </mat-form-field>
              <div *ngIf="!edit" class="metade label">Cidade: {{cliente.CIDADE}}</div>
              <mat-form-field class="metade" *ngIf="edit">
                <input matInput placeholder="cidade" name="email"   [(ngModel)]="cliente.CIDADE">
              </mat-form-field>
              <div  class="espaco"></div>
              <div *ngIf="!edit" class="cheio label">Estdao: {{cliente.ESTADO}}</div>
              <mat-form-field class="metade" *ngIf="edit">
                <mat-label>Estado</mat-label>
                <mat-select  name="estado"  [(ngModel)]="cliente.ESTADO">
                  <mat-option value="AC">Acre</mat-option>
                  <mat-option value="AL">Alagoas</mat-option>
                  <mat-option value="AP">Amapá</mat-option>
                  <mat-option value="AM">Amazonas</mat-option>
                  <mat-option value="BA">Bahia</mat-option>
                  <mat-option value="DF">Distrito Federal</mat-option>
                  <mat-option value="ES">Espírito Santo</mat-option>
                  <mat-option value="GO">Goiás </mat-option>
                  <mat-option value="MA">Maranhão</mat-option>
                  <mat-option value="MS">Mato Grosso do Sul</mat-option>
                  <mat-option value="MG">Minas Gerais</mat-option>
                  <mat-option value="PA">Pará</mat-option>
                  <mat-option value="PB">Paraíba</mat-option>
                  <mat-option value="PR">Paraná</mat-option>
                  <mat-option value="PE">Pernambuco</mat-option>
                  <mat-option value="PI">Piauí</mat-option>
                  <mat-option value="RJ">Rio de Janeiro</mat-option>
                  <mat-option value="RN">Rio Grande do Norte</mat-option>
                  <mat-option value="RS">Rio Grande do Sul</mat-option>
                  <mat-option value="RO">Rondônia</mat-option>
                  <mat-option value="RR">Roraima</mat-option>
                  <mat-option value="RR">Santa Catarina</mat-option>
                  <mat-option value="RR">São Paulo</mat-option>
                  <mat-option value="RR">Sergipe</mat-option>
                  <mat-option value="RR">Tocantins</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="!edit" class="metade label"> Telefone: {{cliente.TELEFONE}}</div>
              <mat-form-field class="metade" *ngIf="edit">
                <input matInput placeholder="Telefone" name="telefone"  [(ngModel)]="cliente.TELEFONE">
              </mat-form-field>
              <div  class="espaco"></div>
              <div *ngIf="!edit" class="metade label">Celular: {{cliente.CELULAR}} </div>
              <mat-form-field class="metade" *ngIf="edit">
                <input id="celular" matInput placeholder="Celular" name="celular" [(ngModel)]="cliente.CELULAR" >
              </mat-form-field>
              <div *ngIf="!edit" class="metade label">Email:  {{cliente.EMAIL}}</div>
              <mat-form-field class="metade" *ngIf="edit">
                <input matInput placeholder="Email" name="email" [(ngModel)]="cliente.EMAIL" >
              </mat-form-field>
              <div  class="espaco"></div>
              <div *ngIf="!edit" class="metade label">Site: {{cliente.SITE}}</div>
              <mat-form-field class="metade" *ngIf="edit">
                <input matInput placeholder="Site" name="site"  [(ngModel)]="cliente.SITE">
              </mat-form-field>
              <button style="width: 100%;" mat-raised-button color="primary" *ngIf="edit" (click)="salvar()">Salvar</button>
        		</form>
        	</div>
        </div>
      </mat-card-content>
    </mat-card>
</div>
