<div class="tercoSemEspaco" routerLink="/clientes" routerDirection="forward">
  <div style="padding:20px">
    <div class="centralizad"><img src="https://mepi.ind.br/framework/assets/login.png" style="max-width: 100px;" /></div>
    <div class="centralizad" style="margin-top:10px"><p class="label-icon">Cadastro de Cliente</p></div>
  </div>
</div>

<div class="tercoSemEspaco" routerLink="/setores" routerDirection="forward">
  <div style="padding:20px">
    <div class="centralizad"><img src="https://mepi.ind.br/framework/assets/team.png" style="max-width: 100px;" /></div>
    <div class="centralizad" style="margin-top:10px"><p class="label-icon">Cadastro de Setores</p></div>
  </div>
</div>

<div class="tercoSemEspaco" routerLink="/catalogos" routerDirection="forward">
  <div style="padding:20px">
    <div class="centralizad"><img src="https://mepi.ind.br/framework/assets/computer.png" style="max-width: 100px;" /></div>
    <div class="centralizad" style="margin-top:10px"><p class="label-icon">Cadastro de Catálogos</p></div>
  </div>
</div>


<div class="tercoSemEspaco" routerLink="/menus" routerDirection="forward">
  <div style="padding:20px">
    <div class="centralizad"><img src="https://mepi.ind.br/framework/assets/categoria.png" style="max-width: 100px;" /></div>
    <div class="centralizad" style="margin-top:10px"><p class="label-icon">Cadastro de Categorias</p></div>
  </div>
</div>

<div class="tercoSemEspaco" routerLink="/produtos" routerDirection="forward">
  <div style="padding:20px">
    <div class="centralizad"><img src="https://mepi.ind.br/framework/assets/helmet.png" style="max-width: 100px;" /></div>
    <div class="centralizad" style="margin-top:10px"><p class="label-icon">Cadastro de Produtos</p></div>
  </div>
</div>



<div class="tercoSemEspaco" routerLink="/noticias" routerDirection="forward">
  <div style="padding:20px">
    <div class="centralizad"><img src="https://mepi.ind.br/framework/assets/report.png" style="max-width: 100px;" /></div>
    <div class="centralizad" style="margin-top:10px"><p class="label-icon">Cadastro de Noticias</p></div>
  </div>
</div>


<div class="tercoSemEspaco" routerLink="/normas" routerDirection="forward">
  <div style="padding:20px">
    <div class="centralizad"><img src="https://mepi.ind.br/framework/assets/report2.png" style="max-width: 100px;" /></div>
    <div class="centralizad" style="margin-top:10px"><p class="label-icon">Cadastro de Normas</p></div>
  </div>
</div>


